<footer class="side-padding">

    <a href="{{ $.Site.BaseURL }}" class="footer-link">
    {{ with resources.Get "icons/home-page.webp" }}
        <img class="footer-icon" src="data:image/png;base64,{{ .Content | base64Encode | safeHTML }}">
    {{ end }}
    </a>

    {{ if isset $.Site.Params "github"}}
    <a href="{{ $.Site.Params.github }}" class="footer-link">
    {{ with resources.Get "icons/github.webp" }}
        <img class="footer-icon" src="data:image/png;base64,{{ .Content | base64Encode | safeHTML }}">
    {{ end }}
    </a>
    {{ end }}


</footer>
