<script>
  function load_script( url, callback, is_module ) {
    var script = document.createElement( 'script' );
    script.src = url;
    script.async = true;
    if ( callback )
      script.onload = callback;
    if ( is_module )
      script.type = 'module';
    document.body.appendChild( script );
  }
</script>

{{ with (resources.Get "js/core.js" | minify) }}
  <script src="{{ .Permalink }}"></script>
{{ end }}

<script>

{{ with resources.Get "js/katex.js" | minify }}
  load_script( "{{ .Permalink }}", null, false );
{{ end }}

{{ with resources.Get "js/auto-render.js" | minify }}
  load_script( "{{ .Permalink }}", "renderMathInElement(document.body)", false );
{{ end }}

load_script( 'https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.js', () => {
  new DisqusJS({
    shortname: 'moonbox-1',
    siteName: 'MoonBox',
    identifier: document.location.origin + document.location.pathname,
    apikey: 'iGmfLFajipTOw5qjkFoTaqqYj3CH5zh3EdYXc8yaZb5JwEiERghF7jcs11iJIxYS',
    nocomment: '迫真 404',
    admin: 'midautumnmoon',
    adminLabel: 'Mod'
  }, false );
})

load_script( 'https://cdn.jsdelivr.net/npm/instant.page@5.1.0', null, false );

{{ with resources.Get "img/bg-full.webp" }}
  //window.onload = () => {
  //  document.body.setAttribute( 'style', 'background-image: url("{{ .Permalink }}")' );
  //};
  document.addEventListener("DOMContentLoaded", () => {
    document.body.setAttribute( 'style', 'background-image: url("{{ .Permalink }}")' );
  });
{{ end }}

</script>

